# ---- environment ---- 
.env
.venv


# app/db/__pycache__/
# app/models/__pycache__/
**/__pycache__/

test/test_create.py
output.txt


# logs
logs/*.log

command.txt

txt/
.DS_Store

send_to_gpt.txt


# data
docs-corpus/*
data/*

# git rm --cached chroma_db/chroma.sqlite3
chroma_db/*

# git rm -r --cached src/enterprise_rag.egg-info/
src/enterprise_rag.egg-info